.contact {
	width: 90%;
	margin: auto;
	height: 90vh;
	@include flex(center, center, column);
	form {
		animation: fadeIn ease-in 0.4s;
		padding: 3rem 10rem;
		border-radius: 2rem;
		@include flex(center, center, column);
		label,
		input,
		textarea {
			padding: 1rem;
			margin: 1rem;
			border-radius: 5px;
		}
		input,
		textarea {
			border: solid rgba(0, 0, 0, 0.109) 2px;
			font-family: "Montserrat", sans-serif;
		}
	}
	button,
	textarea {
		width: 100%;
		border-radius: 5px;
		font-family: "Montserrat", sans-serif;
	}
	button {
		padding: 2rem;
		margin: 2rem;
		background: $gradient;
		color: white;
		border: none;
		&:focus {
			background: black;
		}
		cursor: pointer;
	}
}

.form-wrapper {
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.form-wrapper:hover {
	-webkit-transform: scale(1.02, 1.02);
	transform: scale(1.02, 1.02);
	box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: 0.2),
		0px 20px 40px rgba($color: #000000, $alpha: 0.2);
}
