.projects {
  width: 100%;
  margin: auto;
  min-height: 90vh;
  padding: 5rem;
  @include flex(center, center, row);
  text-align: center;
  flex-wrap: wrap;
  background: white;
  h2 {
    margin: 5rem;
  }
}
.aern,
.visionary {
  flex: 1 1 40rem;
  @include flex(center, center, column);
}
