$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #565377, #565377ca);
$background-color: #154353;
$gray-text: #2c2c2c;

@mixin flex($justify, $align, $direction) {
  display: flex;
  align-items: $align;
  flex-direction: $direction;
  justify-content: $justify;
}

@import "global";
@import "intro";
@import "projects";
/* Mobile */
@media screen and (max-width: 1409px) {
  html {
    font-size: 55%;
  }
  body {
    background: white;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  nav {
    width: 90%;
    margin: auto;
    .logo {
      @include flex(left, center, row);
      margin: 0rem 2rem 0rem 0rem;
    }
    ul {
      justify-content: space-between;
    }
  }
  .intro-images {
    flex: 1 2 70rem;
    padding: 0 0;
    text-align: center;
  }
  .main-head {
    margin: 0;
    width: 100%;
  }
}
/* Tablet */
@media screen and (max-width: 1133px) {
  .main-head {
    width: 90%;
    margin: auto;
  }
  .intro {
    width: 90%;
    margin: auto;
  }
  html {
    font-size: 50%;
  }
  .intro-text {
    text-align: center;
    margin: 5rem 0 2rem 0;
  }
  nav {
    padding: 0 1rem 0 0;
    .logo {
      @include flex(left, left, row);
      padding: 0 0rem 0 0;
    }
  }
  svg {
    height: 60%;
  }
}
/* Phone/Mobile */
@media screen and (max-width: 600px) {
  .main-head {
    width: 100%;
  }
  nav {
    .logo {
      @include flex(center, center, row);
      padding: 2rem 0;
    }
    ul {
      margin-right: 5%;
    }
  }
}
